---

---

<div class="pointer-events-none absolute inset-0">
	<div class="mx-auto hidden h-full max-w-6xl grid-cols-6 px-6 md:grid">
		<div class="border-foreground/10 border-r border-l"></div>
		<div class="border-foreground/10 border-r"></div>
		<div class="border-foreground/10 border-r"></div>
		<div class="border-foreground/10 border-r"></div>
		<div class="border-foreground/10 border-r"></div>
		<div class="border-foreground/10 border-r"></div>
	</div>
</div>
